h1 {
    background-color:#000033;
    color:#F5F5F5;  
    
}
h2 {color:#3399CC;}

.hi {
    color:#5C7FA3;
}
nav {
    background-color:#90C7E3;
}
ul {
    list-style-image:url("images/marker.gif");
}
h3 {
    color:#000033;
}